# ==============================================================================
# 1. PYTHON E AMBIENTI VIRTUALI
# ==============================================================================
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
env/
.venv/

# ==============================================================================
# 2. COMPONENTI DOCKER (Inutili dentro l'immagine)
# ==============================================================================
Dockerfile
docker-compose*.yml
.dockerignore

# ==============================================================================
# 3. DATABASE LOCALI, LOG E CODA
# ==============================================================================
*.sqlite3
*.sqlite3-journal
*.log
tmp/
backups/

# ==============================================================================
# 4. IDE, GIT E FILE DI SISTEMA
# ==============================================================================
.git/
.gitignore
.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini
